* {
	margin:0px;
	padding:0px;
}
.name a {
	color: black;
	text-align: center;
	text-transform: capitalize;
	text-decoration:none;
	font-family: 'Lobster', cursive;
	font-size: 1.9rem;
	font-weight: 5px;
	padding:6px;	
}

.name {
	margin-top:40px;
	color: red;
	text-align: center;
	text-transform: capitalize;
	text-decoration:none;
	font-family: 'Monotype Corsiva';
	font-size: 2rem;
	font-weight: 10px;
	padding:6px;
}

th,td {
	border-top: 1px solid black;
}
table { 
	font-size: 1.2rem;
	text-align:center;
    border-collapse: collapse;
	margin-left: 25%;
	width: 52%;
}
td{
	color:brown;
	font-family: 'Pangolin', cursive;
}
input {
	padding: 10px;
    margin: 20px;
    border-radius: 5px;
	width:220px;
	size:40px;
}

.button {
  background-color: #ed5353;
  border: 1px solid #faa0a0;
  text-align:center;
  cursor: pointer;
  width:150px;
  height:50px;
  margin-left:4%;
  margin-top:40px;
  margin-bottom:100px;
}
.button:hover {
	background-color:#ed6d6d;
}