*{
    margin: 0px;
    padding: 0px;
}

.error {
    color: #e82113;
    background: 80px #f2dede;
    border-radius: 5px;
    border-radius: 5px;
}

button:hover {
  opacity: 0.7;
    background-color: #5cdb97;
}

a:hover {
    opacity: 0.7;
}

.label{
    padding: 10px;
	margin: 20px;
    text-align: center;
    border: 1px solid black;
    background: #7bb1c7;
    border-radius: 5px;
    color: white;
}

.input{
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
	width:220px;
}

.button {
    margin: 30px auto 5px 70%;
    padding: 20px;
    color: white;
    background: #38b088;
    border: 2px solid black;
    border-radius: 5px;
}

.page{
    margin: 20px auto 5px 30px;
    padding: 15px 10px 15px 10px;
    background: antiquewhite;
    border: 2px solid #ebab94;
    text-align: center;
    border-radius: 5px;
}

h2{
    width: 30%;
    height: 10%;
    margin: 40px auto 0px 10px;
    color: white;
    background: #5F9EA0;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}


