*{
	margin: 0px;
	padding:0px;
}

.menu2
{
	font-size: 1rem;
	color:#ffffff;
	background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
	height:60px;
	padding-left:20px;
	padding-right: 20px;
	
}
	
.menu2 ul 
{
	list-style: none;
}

.menu2 ul li 
{
	float:left;
	width:200px;
	height:40px;
	line-height:40px;
	position: relative;
	text-align: center;
	display:block;
	color:#ffffff;
	background-color: black;
}

.menu2 ul li a 
{
	text-decoration: none;
	display: block;
	font-size: 1.5rem;
	color:white;
}

.menu2 ul li a:hover 
{
	background-color: #eb7573;
	color: black;
}
.menu2 ul li ul li{
	display:none;
}
.menu2 ul li ul li a
{
	font-size:1.1rem;
	color:white;
}
.menu2 ul li:hover ul li{
	display:block;
	line-height:30px;
	height:30px;
}
